<div class="container mt-5">
  <h2 class="text-center mb-4">Lista de Tareas</h2>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Nueva tarea" [(ngModel)]="nuevaTarea"/>
    <button (click)="agregarTarea()" class="btn btn-primary">Agregar Tarea</button>
  </div>
  <br>
  <ul class="list-group mb-3">
    <li *ngFor="let tarea of listaTareas; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
      {{tarea}}
      <button (click)="eliminarTarea(i)" class="btn btn-danger btn-sm">Eliminar</button>
    </li>
  </ul>
</div>

